<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Memes Voting App</title>
    <link rel="icon" type="image/x-icon" href="/assets/memesapp.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
        type="text/css">
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.16.9/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="q-app">
        <q-layout view="hHr LpR fff">

            <q-header elevated class="bg-primary text-white" height-hint="98">
                <q-toolbar>
                    <q-btn dense flat round icon="menu" @click="toggleLeftDrawer"></q-btn>
                    <q-toolbar-title>
                        <a href="/"> <q-avatar> <img src="/assets/memesapp.png"> </q-avatar></a> Memes Voting App
                    </q-toolbar-title>
                    <div class="q-ml-auto" v-if="!logged_in">
                        <q-btn label="Log In" color="teal" href="/login"></q-btn>
                    </div>
                    <div class="q-ml-auto" v-else>
                        <q-btn round color="white" :href="'/users/'+user.id">
                            <q-avatar>
                                <img
                                    :src="user.picture != null ? '/image/'+user.picture+'.png' : '/assets/anonymous-user.png'">
                            </q-avatar>
                        </q-btn>
                        <q-btn label="Logout" color="teal" class="q-mr-sm q-ml-lg" href="/logout"></q-btn>
                    </div>
                </q-toolbar>
                <q-tabs align="left">
                    <q-route-tab href="/myfiles" label="Mes memes"></q-route-tab>
                    <q-route-tab href="/" label="Tout"></q-route-tab>
                    <q-route-tab href="/images" label="Images"></q-route-tab>
                    <q-route-tab href="/gifs" label="Videos"></q-route-tab>
                </q-tabs>
            </q-header>

            <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>

                <div v-if="!logged_in">
                    <div class="q-mt-xl" style="display: flex; align-items: center; justify-content: center;">
                        <q-btn label="Login" color="teal" href="/login"></q-btn>
                    </div>
                </div>
                <div v-else>
                    <div class="q-mt-xl" style="display: flex; align-items: center; justify-content: center;">
                        <q-btn label="Upload a file" color="primary" @click="dialog = true" />
                    </div>
                    <!--Dialog-->
                    <q-dialog v-model="dialog" class="q-mb-xl">
                        <q-card style="width: 700px; max-width: 80vw;">
                            <q-card-section class="bg-primary row items-center q-pb-none">
                                <div class="text-h6 text-white">Upload files</div>
                                <q-space></q-space>
                                <q-btn class="text-white" icon="close" flat round dense v-close-popup></q-btn>
                            </q-card-section>

                            <q-card-section class="q-pt-none bg-white">
                                <q-splitter v-model="splitterModel" :limits="[50, 100]" style="height: 400px">
                                    <template v-slot:before>
                                        <div class="q-pa-md">
                                            <q-uploader url="/api/uploadfile" label="Batch upload" multiple batch
                                                style="max-width: 300px"
                                                :form-fields="[{name: 'user_id', value: user.id}, {name: 'files', value: JSON.stringify(filesToUpload)}]"
                                                @added="onFilesAdded" @removed="onFilesRemoved"></q-uploader>
                                        </div>
                                    </template>

                                    <template v-slot:after>
                                        <div class="q-pa-md">
                                            <q-card-section v-for="(file, index) in filesToUpload" :key="file.name">
                                                <q-input v-model="file.filename" :label="`Filename ${index + 1}`"
                                                    stack-label :dense="dense"></q-input>
                                                <q-input v-model="file.category" :label="`Category ${index + 1}`"
                                                    stack-label :dense="dense"></q-input>
                                            </q-card-section>
                                        </div>
                                    </template>
                                </q-splitter>

                            </q-card-section>

                        </q-card>
                    </q-dialog>
                    <div class="q-mt-xl" style="display: flex; align-items: center; justify-content: center;">
                        <q-btn label="Logout" color="teal" href="/logout"></q-btn>
                    </div>

                </div>
            </q-drawer>

            <q-page-container>
                {% block content %}{% endblock %}
            </q-page-container>

            <q-footer elevated class="bg-grey-8 text-white">
                <q-toolbar>
                    <q-toolbar-title>
                        <q-avatar>
                            <img src="/assets/memesapp.png">
                        </q-avatar>
                        <div>Memes Voting App</div>
                    </q-toolbar-title>
                </q-toolbar>
            </q-footer>

        </q-layout>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.16.9/dist/quasar.umd.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.16.9/dist/icon-set/fontawesome-v6.umd.prod.js"></script>
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>