{% extends "layout.html" %}
{% block content %}
<q-page style="background: linear-gradient(#cbd4f3, #719aff);">
    <div class="row align-items justify-center">
        <q-card square class="q-mt-lg shadow-24 col-12 col-md-7">
            <q-splitter v-model="splitterModel">
                <template v-slot:before>
                    <q-card-section class="bg-primary">
                        <div class="text-body1 text-white">User infos</div>
                    </q-card-section>
                    <q-card-section>
                        <q-form class="q-px-sm q-pt-sm">
                            <q-input ref="username" autofocus square clearable v-model="signup.name" type="text"
                                lazy-rules :rules="[this.required]" label="username">
                                <template v-slot:prepend>
                                    <q-icon name="account_circle" />
                                </template>
                            </q-input>
                            <q-input ref="email" square clearable v-model="signup.email" type="email" lazy-rules
                                :rules="[this.required,this.isEmail]" label="email">
                                <template v-slot:prepend>
                                    <q-icon name="email" />
                                </template>
                            </q-input>
                            <q-input ref="password" square clearable v-model="signup.password" lazy-rules
                                :rules="[this.required,this.isPasswordStrong]"
                                :type="signup.showPassword ? 'text' : 'password'" label="password"
                                @keyup="checkPasswordRules(signup.password)">
                                <template v-slot:prepend>
                                    <q-icon name="lock" />
                                </template>
                                <template v-slot:append>
                                    <q-icon :name="signup.showPassword ? 'visibility_off' : 'visibility'"
                                        class="cursor-pointer" @click="signup.showPassword = !signup.showPassword" />
                                </template>
                            </q-input>
                            <q-input ref="confirmation" square clearable v-model="signup.confirmation"
                                :rules="[this.required,this.diffPassword]"
                                :type="signup.showPassword ? 'text' : 'password'" label="confirmation">
                                <template v-slot:prepend>
                                    <q-icon name="lock" />
                                </template>
                            </q-input>
                        </q-form>
                    </q-card-section>
                </template>

                <template v-slot:separator>
                    <q-avatar color="primary" text-color="white" size="40px" icon="drag_indicator" />
                </template>

                <!-- PASSWORD RULES -->
                <template v-slot:after>
                    <q-card-section class="bg-primary">
                        <div class="text-body1 text-white">Règles pour le mot de passe</div>
                    </q-card-section>

                    <q-card-section id="invalid-rules" class="q-pt-sm">
                        <q-list bordered>
                            <q-item clickable v-ripple v-for="(rule, idx) in invalidRules" :key="idx">
                                <q-item-section>
                                    <q-btn square flat size="sm" align="left" class="text-body1" icon="error"
                                        :label="rule" text-color="negative" />
                                </q-item-section>
                            </q-item>
                        </q-list>
                    </q-card-section>

                    <q-separator inset></q-separator>

                    <q-card-section id="valid-rules">
                        <q-list bordered>
                            <q-item clickable v-ripple v-for="(rule, idx) in validRules" :key="idx">
                                <q-item-section>
                                    <q-btn square flat size="sm" align="left" class="text-body1" icon="check"
                                        :label="rule" text-color="secondary" />
                                </q-item-section>
                            </q-item>
                        </q-list>
                    </q-card-section>
                </template>
            </q-splitter>
        </q-card>




        <!-- SIGNUP BTN -->
        <q-card square class="q-mt-lg shadow-24 col-12 col-md-7">
            <q-card-section>
                <div class="q-px-lg">
                    <q-btn unelevated size="lg" :color="signup.btnColor" @click="addUser()"
                        class="full-width text-white" label="SIGN UP" :loading="signup.loading"
                        :icon="signup.btnColor == 'negative' ? 'error' : 'send'" />
                </div>
                <div class="text-center q-pa-sm">
                    <a class="text-grey-6" href="/login">Vous avez déjà un compte?</a>
                </div>
            </q-card-section>
        </q-card>
    </div>
</q-page>
{% endblock %}