{% extends 'layout.html' %}
{% block content %}
<q-page style="background: linear-gradient(#cbd4f3, #719aff);">
    <div class="row q-pa-md justify-center">
        <q-card class="my-card col-12 col-md-5" flat bordered>
            <q-img :src="user.picture != null ? '/image/'+user.picture+'.png' : '/assets/anonymous-user.png'"
                fit="contain" height="275px"></q-img>
            <q-card-section>
                <div class="row items-center justify-center">
                    <q-uploader class="col-6 q-mb-xl" :url="'/api/users/'+user.username+'/picture'"
                        label="Changez votre photo de profil" method="PUT" accept=".jpg, .png"
                        :field-name="(file) => 'profile_pic'" @uploaded="(info) => successUpload()"></q-uploader>
                    <div class="col-12">
                        <q-list bordered>
                            <q-item dense clickable v-ripple v-for="(usr, idx) in [user]" :key="idx">
                                <q-item-section>
                                    <q-input v-model="usr.username" label="Username" />
                                </q-item-section>
                                <q-item-section>
                                    <q-input v-model="usr.email" label="Email" />
                                </q-item-section>
                            </q-item>
                        </q-list>
                    </div>
                </div>
            </q-card-section>
            <q-card-actions align="center">
                <q-btn label="Enregistrer" color="primary" @click="updateUser" />
            </q-card-actions>
        </q-card>
    </div>
</q-page>
{% endblock %}